<div class="title">
  <h2> Truck Manager</h2>
</div>
<br>
<br>
<div class="center-card">
  <div class="ui card">
    <form class="ui form">
      <div class="field">
        <br>
        <div class="card-explanation">
          <p>Le truck manager est un outil de getion de camions,
            cliquer sur le bouton lancement ci dessous pour que notre
            IA calcule le meilleur chemin pour récuperer des resssources</p>
          <br>
        </div>
      </div>

    </form>

    <button class="ui bottom green attached button {{if notDelivering "" "disabled"}}" type="submit" {{action
      'lancementAlgo'}}>
      lancement
    </button>

  </div>
</div>

<h3>
  Steps:
</h3>
{{yield}}