<div class="card">
    <h1>Truck Manager</h1>

  <div class="ui card">
    {{#link-to 'login'}}
      <br>
      <button class="ui instagram button"
              style="width: 130px; margin-left: 30%;">
        <i class="icon user"></i>
        Login
      </button>
    {{/link-to}}
    {{#link-to 'register'}}
      <br>
      <button class="ui instagram button"
              style="width: 130px; margin-left: 30%;">
        <i class="icon add"></i>
        Register
      </button>
    {{/link-to}}
    <br>
  </div>
</div>
{{outlet}}
